<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title> PillSafe SmartCab </title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content%}
        
        <h1> Welcome to the PillSafe App, new user! Please enter your name and create a password below:  </h1>
        <form method = "post">
            <label for = "username"> Name </label>
            <input name = "username">
        </form>
        
        {% endblock %}
    </body>
</html>

